:root {
    --background-color: #121212;
    --background-secondary: #1e1e1e;
    --primary: #666;
    --accent-1: #bb86fc;
    --accent-2: #03dac6;
}

* {
    background-color: var(--background-color);
    color: var(--primary);
    border-radius: 10px;
    font-family: monospace;
    font-size: 16px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 15px;
    display: flex;
    flex-direction: column;
    height: 90vh;
    width: clamp(50%,960px,90%);
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--background-secondary);
}

.highlight {
    color: var(--accent-2); 
    font-weight: 500;
}

#editor {
    width: 90%;
    height: 50%;
    border: 1px solid var(--accent-1);
    padding: 10px;
}

#output {
    width: 90%;
    height: 20%;
    border: 1px solid var(--accent-1);
    padding: 10px;
    overflow-y: auto;
}

#runButton {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: var(--accent-1);
    color: var(--background-color);
    border: none;
    margin: 10px;
}

#runButton:hover {
    background-color: var(--accent-2);
}