:root {
    --background-color: #121212;
    --background-secondary: #24292e;
    --primary: #666;
    --accent-1: #bb86fc;
    --accent-2: #02b3b9;
    --accent-3: #343a40;
}

/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-radius: 10px;
    border: none;
}

body {
    background-color: var(--background-color);
    color: var(--primary);
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    border-bottom: 1px solid var(--primary);
    text-align: center;
    color: var(--accent-1);
    border-radius: 0;
    margin: 15px;
    padding: 15px;
    width: 90%;
}

main {
    width: 90%;
    height: 80vh;
    margin: 15px auto;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-color: var(--accent-1) var(--background-secondary);
    scrollbar-width: thin;
}

.song {
    background-color: var(--background-secondary);
    color: var(--accent-1);
    border-radius: 20px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 15px auto;
    transition: all 0.3s ease-in-out; /* This is the key line! */
    height: 2rem; /*added to prevent collapsing*/
}

.song:hover {
    color: var(--accent-2);
    justify-content: space-evenly;
    padding: 25px;
    height: 10rem;
}

.song:hover p {
    display: block;
}

.song p {
    margin: 1rem;
    display: none;
}

.song audio {
    display: none;
}

.song:hover audio {
    display: block;
    width: 80%;
    margin: 0;
    padding: 0;
    color: var(--accent-3);
    background-color: var(--background-secondary);
}

.song audio::-webkit-media-controls-panel {
    background-color: var(--accent-3);
    /* remove glow effect */
    border: none;
    box-shadow: none;
}

.song audio::-webkit-media-controls-play-button {
    background-color: var(--accent-3);
    border-radius: 50%;
}

/* This styles volume slider, scrubber etc., You might need to change the selectors depending on what you want to style */
.song audio::-webkit-media-controls-mute-button {
    background-color: var(--accent-3);
    border-radius: 50%;
}
