:root {
    --background-color: #f0f0f0;
    --background-secondary: #b9b9b9;
    --primary: #000000;
    --accent-1: #241a30;
    --accent-2: #001414;
    --accent-3: #a3a3a3;
}

/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-radius: 10px;
    border: none;
    font-family: monospace;
}

body {
    background-color: var(--background-color);
    color: var(--primary);
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    border-bottom: 1px solid var(--primary);
    text-align: center;
    color: var(--accent-1);
    border-radius: 0;
    margin: 15px;
    padding: 15px;
    width: 90%;
}

main {
    width: 90%;
    height: 80vh;
    margin: 15px auto;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-color: var(--accent-1) var(--background-secondary);
    scrollbar-width: thin;
}

.song {
    background-color: var(--background-secondary);
    color: var(--accent-1);
    border-radius: 20px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 15px auto;
    transition: all 0.3s ease-in-out; /* This is the key line! */
    height: 3rem; /*added to prevent collapsing*/
}

.song:hover {
    color: var(--accent-2);
    justify-content: space-evenly;
    padding: 25px;
    height: 12rem;
}

.song:hover p {
    display: block;
}

.song p {
    margin: 1rem;
    display: none;
}

.song audio, .song a {
    display: none;
}

.song:hover audio {
    display: block;
    width: 80%;
    margin: 0;
    padding: 0;
    color: var(--accent-3);
    background-color: var(--background-secondary);
}

.song:hover a {
    display: block;
    background-color: var(--background-color);
    color: var(--primary);
    padding: 0.5rem;
    text-decoration: none;
}

.song:hover a:hover {
    background-color: #ddd;
}

.song audio::-webkit-media-controls-panel {
    background-color: var(--accent-3);
    /* remove glow effect */
    border: none;
    box-shadow: none;
}

.song audio::-webkit-media-controls-play-button {
    background-color: var(--accent-3);
    border-radius: 50%;
}

/* This styles volume slider, scrubber etc., You might need to change the selectors depending on what you want to style */
.song audio::-webkit-media-controls-mute-button {
    background-color: var(--accent-3);
    border-radius: 50%;
}


nav {
    display: flex;
    justify-content: space-evenly;
}

nav a {
    text-decoration: none;
    color: var(--primary);
    font-size: 1.2rem;
}

nav a:hover {
    color: rgb(28, 126, 143);
}