:root{
    /* I should change this later */
    --background-color: #06070E;
    --primary-color: #09c7a1;
    --secondary-color: #94A187;
    --accent-1: #01ffff;
    --accent-2: #77ffd6;
}

* {
    background-color: var(--background-color);
    color: var(--primary-color);
    font-family: "Kode Mono", serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.link-container {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
}

.link-container a {
    text-decoration: none;
    padding: 4px;
    border: 1px solid var(--primary-color);
}

.link-container a:hover {
    color: var(--accent-1);
    border: 1px solid var(--accent-1);
}

.console {
    border: 1px solid var(--secondary-color);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 5%;
    height: 80vh;
    padding-left: 15px;
}

.inputline{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 95%;
    margin: 0;
    padding: 0;
}

.inputline p {
    margin: 0;
    padding: 0;
}

#consoleOutput {
    margin: 0;
    padding: 1rem 0 0 0;
}

#command {
    width: 100%;
    font-size: medium;
    margin: 0;
    padding: 0;
    border: none; 
    outline: none; 
    resize: none; 
    overflow: hidden; 
    caret-color: var(--primary-color); 
}

.interests {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.projects {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}